@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
  font-family: "pretendard";

  box-sizing: border-box;

  margin: 0px;
  padding: 0px;
}

.main-box {
  width: 250px;
  height: 259px;
  padding: 16px;
  margin: 10px;

  border: 1px solid gray;
  border-radius: 5px;

  background-color: #cccccc;
}

.title {
  margin-top: 0px;
  margin-bottom: 16px;

  font-size: 15px;
  line-height: 150%;
}

.list1::after,
.list2::after {
  content: "";
  display: block;
  clear: both;
}

.list1 {
  margin-bottom: 12px;
}

.term1,
.term2 {
  margin-bottom: 4px;

  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  color: #296897;
}

.term1 {
  padding-left: 76px;
}

.summary1,
.summary2 {
  font-size: 14px;
  line-height: 150%;
}

.summary1 {
  padding-left: 76px;
}

.summary2 {
  width: 142px;
}

.W3C-logo1 {
  float: left;

  margin-top: -88px;
  margin-right: 16px;
  margin-bottom: 20px;
}

.W3C-logo2 {
  float: right;

  margin-top: -88px;
  margin-left: 16px;
}
