@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
  font-family: "pretendard";

  padding: 0px;
  margin: 0px;

  box-sizing: border-box;
}

h1 {
  position: absolute;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.lists {
  margin: 6px;

  list-style-type: none;
}

.validations {
  display: block;

  width: 250px;
  height: 37px;
  padding: 8px 8px 8px 16px;

  border-radius: 34px;

  background-color: #cccccc;
  background-image: url(./images/validation_icon\_2.png);
  background-repeat: no-repeat;
  background-size: 16px 17px;
  background-position: 16px 10px;

  text-decoration-line: none;
  color: black;
}

.text {
  padding-left: 20px;

  font-size: 14px;
  line-height: 150%;
}
