h1 {
  position: absolute;
  clip-path: polygon(0 0, 0 0, 0 0);
}

li {
  box-sizing: border-box;
}

.validations {
  display: block;

  margin: 6px;
  padding: 8px 0 8px 40px;

  width: 230px;
  height: 27px;

  background-color: silver;
  background-image: url(./images/validation_icon\ 2.png);
  background-repeat: no-repeat;
  background-position: 20px 50%;

  border-radius: 20px;

  text-decoration-line: none;
  color: black;

  font-size: 15px;
  line-height: 150%;
}

li {
  list-style-type: none;
}
