* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.favoriteSite {
  position: relative;

  width: 11.875rem;
  height: 9.1875rem;
  padding: 0.75rem;

  border: 1px solid #a3a3a3;
  border-radius: 5px;

  background: linear-gradient(180deg, #ccc 0%, #eee 100%);
}

.favoriteSite__title {
  margin-top: 0;

  font-size: 0.9375rem;
  font-weight: 700;
}

.orangeText {
  color: orangered;
}

.favoriteSite__rank {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  padding-left: 0;

  list-style: none;
}

.favoriteSite__link {
  display: grid;
  grid-template-columns: 1.25rem max-content 1fr;

  font-size: 0.6875rem;
  color: black;
}

.favoriteSite__link::before {
  width: 16px;
  height: 16px;

  border-radius: 5px;

  text-align: center;
  color: white;

  background: #a3a3a3;
}

.link1::before {
  content: "1";
}

.link2::before {
  content: "2";
}

.link3::before {
  content: "3";
}

.link4::before {
  content: "4";
}

[class*="UpDown"] {
  width: 9px;
  height: 11px;

  justify-self: end;
  align-self: center;
  background: url(./images/rank.png) no-repeat;
}

.rank1UpDown,
.rank4UpDown {
  background-position: 0 0;
}

.rank2UpDown {
  background-position: 0 -44px;
}

.rank3UpDown {
  background-position: 0 -22px;
}

.favoriteSite__more {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;

  font-size: 0.875rem;
  font-weight: 400;
}
