@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
}

.loginBox {
  width: 244px;
  height: 161px;
  padding: 12px;
  margin: 10px;

  border-radius: 5px;

  background-color: #ed552f;
}

.title {
  color: #ffff00;
  font-size: 15px;
  font-weight: 700;
  line-height: 150%;
}

.mainBox {
  width: 220px;
  height: 106px;
  padding: 8px 8px 4px 8px;
  margin-top: 8px;

  border-radius: 5px;

  background-color: white;

  font-size: 14px;
  font-weight: 400;
}

.loginForm {
  position: relative;

  padding-bottom: 8px;

  border-bottom: 1px solid gray;
}

.idPwBox {
  position: relative;

  width: 146px;
  height: 52px;
}

.idBox {
  height: 24px;
  margin-bottom: 4px;
}

.inputIdLabel,
.inputPwLabel {
  position: relative;
  top: 4px;
}

#inputID,
#inputPW {
  width: 90px;
  height: 24px;
  padding-left: 8px;

  border: 1px solid #cccccc;
  border-radius: 5px;
}

#inputID {
  position: absolute;
  right: 0;
}

#inputPW {
  position: absolute;
  right: 0;
}

#loginBtn {
  position: absolute;
  top: 0;
  right: 0;

  width: 50px;
  height: 53px;

  border: 0;
  border-radius: 5px;

  background-color: #ed552f;

  color: white;
  font-size: 13px;
  font-weight: 400;
}

.subBox {
  width: 204px;
  height: 36px;
  padding-top: 4px;
}

.signUp,
.searchIdPw {
  color: black;
  text-decoration-line: none;
}

.signUp {
  float: left;
  width: 62px;
  padding-top: 4px;
  text-align: right;
  font-size: 13px;
  line-height: 150%;
}

.signUp::before {
  content: "▶";
  float: left;
  display: block;
  margin-right: 4px;
}

.searchIdPw {
  float: left;
  width: 125px;
  padding-top: 4px;
  margin-left: 17px;
  text-align: right;
  font-size: 13px;
  line-height: 150%;
}

.searchIdPw::before {
  content: "▶";
  float: left;
  display: block;
  margin-right: 4px;
}
